


<!--
<mat-card class="java-card">
    <mat-card-title-group>
        <mat-card-title>Tecnologías</mat-card-title>
        <mat-card-subtitle>Lenjuajes de programación</mat-card-subtitle>
        <img src="../../assets/java.png" width="100" alt="Foto Java" class="photo-java" />
    </mat-card-title-group>
    <mat-card-content>
        Mas de 7 annos programando el lenjuaje java y otros como html css javascript ademas desarrollo de web y android utilizadon IONIC...Programador Backend con Spring Boot
    </mat-card-content>
</mat-card>
-->
