<div class="content" role="main">
    <h1>Proyectos en Desarrollo</h1>
    <mat-grid-list cols="3" rowHeight="1:1.5">
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Remesas</mat-card-title>
                    <mat-card-subtitle>Proyecto de Remesas a Cuba</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/remesas.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Visitar</button>
                    <button mat-icon-button aria-label="Example icon-button with a heart icon">
                        <mat-icon matBadge="11" matBadgeColor="warn">favorite</mat-icon>
                        
                        <!-- Include text description of the icon's meaning for screen-readers -->
                        <span class="cdk-visually-hidden">
                            Example with a home icon with overlaid badge showing the number 15
                        </span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Buscador de Vuelos</mat-card-title>
                    <mat-card-subtitle>Proyecto Buscador de Vuelos Baratos hacia Cuba</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/cubana.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Visitar</button>
                    <button mat-icon-button aria-label="Example icon-button with a heart icon">
                        <mat-icon matBadge="9" matBadgeColor="warn">favorite</mat-icon>
                        
                        <!-- Include text description of the icon's meaning for screen-readers -->
                        <span class="cdk-visually-hidden">
                            Example with a home icon with overlaid badge showing the number 15
                        </span>
                    </button>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Applicacion Android</mat-card-title>
                    <mat-card-subtitle>Del Proyecto Buscador de Vuelos</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/android.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button href="https://www.google.com/" target="_blank">Visitar</a>


                    <button mat-icon-button aria-label="Example icon-button with a heart icon">
                        <mat-icon matBadge="15" matBadgeColor="warn">favorite</mat-icon>
                        
                        <!-- Include text description of the icon's meaning for screen-readers -->
                        <span class="cdk-visually-hidden">
                            Example with a home icon with overlaid badge showing the number 15
                        </span>
                    </button>

                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>
</div>