
<mat-toolbar id="toolbarTop">
  <img width="40" alt="Photo Perfil" class="photo-perfil" src="../assets/avatar_ENZONA_20221217_095410.jpg" />
    <span>Mi Portafolio</span>
    <span class="example-spacer"></span>
    <label>
      Contactarme
      <a mat-icon-button type="button" (click)="openDialog()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <a type="button" id="wa">
          <i class="fa-brands fa-whatsapp fa-lg"></i>
        </a>
      </a>
    </label>
    
    
  </mat-toolbar>
  
<!--
<div class="toolbar" role="banner">
    <img width="40" alt="Photo Perfil" class="photo-perfil" src="../assets/avatar_ENZONA_20221217_095410.jpg" />
    <span>Portafolio</span>
    <div class="spacer"></div>
    <span id="contacto">Contacto</span>
</div>
-->
