
   
 



<!--
<mat-card class="proy-card">
    <mat-card-title-group>
        <mat-card-title>Proyectos</mat-card-title>
        <mat-card-subtitle>Ejemplos sencillos</mat-card-subtitle>
        <img src="../../assets/Gestión-de-Proyectos-5-Requisitos-del-Éxito-300x199.png" width="100" alt="Foto Java" class="photo-proy" />
    </mat-card-title-group>
    <mat-card-content>
        <p>
            Mas de 7 annos programando el lenjuaje java y otros como html css javascript ademas desarrollo de web y android utilizadon IONIC...Programador Backend con Spring Boot
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a type="button" mat-button routerLink="proyectos" routerLinkActive="active">Ver Proyectos</a>
    </mat-card-actions>
</mat-card>
-->
