
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/uho-university.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Estudios</h5>
                    <p class="card-text">Comienzo la carrera universitaria en la Universidad de Holguín en Septiembre
                        del
                        año 2014, en la
                        especiaidad de
                        Ingeniería Informática culminada el 13 de junio del 2019.</p>

                </div>
                <div class="card-footer">
                    <a href="https://www.uho.edu.cu" class="btn btn-primary">Ver escuela</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/java.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tecnologías</h5>
                    <p class="card-text">Mas de 7 años programando el lenjuaje java y otros como html css javascript ademas desarrollo de web y android utilizadon IONIC...Programador Backend con Spring Boot.</p>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/Gestión-de-Proyectos-5-Requisitos-del-Éxito-300x199.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Proyectos</h5>
                    <p class="card-text">Actualmente me encuentro trabajando en algunos proyectos personales.</p>
                </div>
                <div class="card-footer">
                    <a routerLink="proyectos" class="btn btn-primary">Ver proyectos</a>
                </div>
            </div>
        </div>

    </div>
